ravelpt.dev, www.ravelpt.dev, localhost {
    handle_path /static/* {
		file_server {
			root "/srv"
		}
	}

    reverse_proxy web:8000
    encode gzip

    log {
        output file /var/log/caddy/access.log
        level info
    }

}
