{% load contest_tags %}

<!-- modal header -->
<div class="modal-header">
  <h2 class="primary-text">System Users</h2>
</div>
<!-- modal body -->
<div class="modal-body">
  <div class="container">
    <table class="table" style="text-align: center">
      <thead class="primary-text secondary-background">
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Class</th>
        <th scope="col">Teacher</th>
        <th scope="col">System Staff</th>
        <th scope="col"></th>
        <th scope="col"><button type="button" class="btn no-padding primary-text" onclick="editMember(-1)"><span class="material-symbols-outlined accent-hover">add</span></button></th>
      </thead>
      <tbody class="secondary-text" id="userTable">
        {% for member in members %}
        <tr id="member-{{member.id}}">
          <td>{{member.user.first_name}} {{member.user.last_name}}</td>
          <td>{{member.user.username}}</td>
          <td>{{member.user_class.class_code}}</td>
          <td><span class="material-symbols-outlined">{% if member.is_teacher %}done{% else %}close{% endif %}</span></td>
          <td><span class="material-symbols-outlined">{% if member.user.is_staff %}done{% else %}close{% endif %}</span></td>
          <td><button type="button" class="btn no-padding secondary-text" onclick="editMember({{member.id}})"><span class="material-symbols-outlined accent-hover">edit</span></button></td>
          <td><button type="button" class="btn no-padding secondary-text" onclick="deleteMember({{member.id}}, '{{member.name}}')"><span class="material-symbols-outlined accent-hover">delete</span></button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- modal footer -->
<div class="modal-footer">
  <button class="btn primary-btn accent-hover" type="button" onclick="getUsers(10)">Load More</button>
  <button type="button" class="btn secondary-btn accent-hover" data-bs-dismiss="modal">Close</button>
</div>
