{% extends 'contest_base.html' %}
{% load static %}
{% load contest_tags %}

{% block title %}Ravel | Manage Class{% endblock %}

{% block content %}

<!-- modal data -->
<div class="modal fade" id="editorModal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content secondary-background" id="editorModalContent">
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    {% if user_data.manage_members or user_data.is_teacher %}
    <!-- student manager -->
    <div class="col-6">
      <div class="row">
        <h2 class="primary-text" style="text-align: center;">Class Manager ({{user_class.class_code}})</h2>
        <table class="table" style="text-align: center">
          <thead class="primary-text secondary-background">
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Manage Members</th>
            <th scope="col">Manage Problems</th>
            <th scope="col">Manage Contests</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </thead>
          <tbody class="secondary-text">
            {% for member in members %}
              <tr id="member-{{member.id}}"">
                <td class="">{{member.user.first_name}} {{member.user.last_name}}</td>
                <td>{{member.user.username}}</td>
                <td><span class="material-symbols-outlined text-center" style="min-height: 50%">{% if member.manage_members %}done{% else %}close{% endif %}</span></td>
                <td><span class="material-symbols-outlined">{% if member.manage_problems %}done{% else %}close{% endif %}</span></td>
                <td><span class="material-symbols-outlined">{% if member.manage_contests %}done{% else %}close{% endif %}</span></td>
                <td><button type="button" class="btn no-padding secondary-text" onclick="editMember({{member.id}})" data-bs-toggle="modal" data-bs-target="#editorModal"><span class="material-symbols-outlined accent-hover">edit</span></button></td>
                <td><button type="button" class="btn no-padding secondary-text" onclick="kickMember({{member.id}}, '{{member.user.username}}')"><span class="material-symbols-outlined accent-hover">person_remove</span></button></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    {% endif %}
    <div class="col-1">

    </div>
    <div class="col-5">
      {% if user_data.manage_contests or user_data.is_teacher %}
      <!-- contest manager -->
      <div class="row">
        <h2 class="primary-text" style="text-align: center;">Contest Manager</h2>
        <table class="table" style="text-align: center">
          <thead class="primary-text secondary-background">
            <th scope="col">Contest Name</th>
            <th scope="col">Problem Count</th>
            <th scope="col">User Count</th>
            <th scope="col"></th>
            <th scope="col"><button type="button" class="btn no-padding primary-text" onclick="editContest(-1)" data-bs-toggle="modal" data-bs-target="#editorModal"><span class="material-symbols-outlined accent-hover">add</span></button></th>
          </thead>
          <tbody class="secondary-text">
            {% for contest in contests %}
            <tr id="contest-{{contest.id}}">
              <td>{{contest.name}}</td>
              <td>{% get_problem_count contest %}</td>
              <td>{% get_user_count contest %}</td>
              <td><button type="button" class="btn no-padding secondary-text" onclick="editContest({{contest.id}})" data-bs-toggle="modal" data-bs-target="#editorModal"><span class="material-symbols-outlined accent-hover">edit</span></button></td>
              <td><button type="button" class="btn no-padding secondary-text" onclick="deleteContest({{contest.id}}, '{{contest.name}}')"><span class="material-symbols-outlined accent-hover">delete</span></button></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
      {% if user_data.manage_problems or user_data.is_teacher %}
      <!-- problem manager -->
      <div class="row">
          <h2 class="primary-text" style="text-align: center;">Problem Manger</h2>
          <table class="table" style="text-align: center">
            <thead class="primary-text secondary-background">
              <th scope="col">Name</th>
              <th scope="col">Total Attempts</th>
              <th scope="col">Accuracy</th>
              <th scope="col"></th>
              <th scope="col"><button type="button" class="btn no-padding primary-text" onclick="editProblem(-1)" data-bs-toggle="modal" data-bs-target="#editorModal"><span class="material-symbols-outlined accent-hover">add</span></button></th>
            </thead>
            <tbody class="secondary-text">
              {% for problem in problems %}
              <tr id="problem-{{problem.id}}">
                <td>{{problem.name}}</td>
                <td>{{problem.get_total_attempts}}</td>
                <td>{% get_problem_accuracy problem false %}%</td>
                <td><button type="button" class="btn no-padding secondary-text" onclick="editProblem({{problem.id}})" data-bs-toggle="modal" data-bs-target="#editorModal"><span class="material-symbols-outlined accent-hover">edit</span></button></td>
                <td><button type="button" class="btn no-padding secondary-text" onclick="deleteProblem({{problem.id}}, '{{problem.name}}')"><span class="material-symbols-outlined accent-hover">delete</span></button></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<script type="text/javascript">
  const csrf_token = '{{csrf_token}}'

  function editMember(user_id)
  {
    $.ajax({
      url: "{% url 'contests:edit_member_modal' %}",
      data: {'user': user_id},
      success: function (data){
        $("#editorModalContent").html(data);
    }});
  }

  function editContest(contest_id)
  {
    $.ajax({
      url: "{% url 'contests:edit_contest_modal' %}",
      data: {'contest': contest_id},
      success: function (data){
        $("#editorModalContent").html(data);
    }});
  }

  function listContestProblems(contest_id)
  {
    $.ajax({
      url: "{% url 'contests:get_contest_problems' %}",
      data: {'contest': contest_id},
      success: function (data){
        $("#editorModalContent").html(data);
    }});
  }

  function editContestProblem(contest_id, problem_id)
  {
    $.ajax({
      url: "{% url 'contests:edit_contest_problem' %}",
      data: {'contest': contest_id, 'problem': problem_id},
      success: function (data){
        $("#editorModalContent").html(data);
    }});
  }

  function editProblem(problem_id)
  {
    $.ajax({
      url: "{% url 'contests:edit_problem_modal' %}",
      data: {'problem': problem_id},
      success: function (data){
        $("#editorModalContent").html(data);
    }});
  }

  function updateContestProblem(id, contest)
  {
    problem = $("#problem").val()
    order = $("#order").val()
    value = $("#value").val()
    p_points = $("#penalty_points").val()

      $.ajax({
        url: "{% url 'contests:save_contest_problem' %}",
        data: {'csrfmiddlewaretoken': csrf_token, 'id': id, 'contest_id': contest, 'problem': problem, 'order': order, 'value': value, 'penalty_points': p_points},
        method: "POST",
        success: function (data){
          $("#editorModalContent").html(data);
      }});
    }

  function kickMember(user_id, username)
  {
    if (confirm("Are you sure you want to kick "+ username +" from this class?"))
    {
      $.ajax({
        url: "{% url 'contests:kick_member' %}",
        data: {'csrfmiddlewaretoken': csrf_token, 'user': user_id},
        method: "POST",
        success: function (data){
          $("#member-"+user_id).remove();
      }});
    }
  }

  function deleteContest(contest_id, contest_name)
  {
    if (confirm("Are you sure you want to delete \""+ contest_name +"\" ?"))
    {
      $.ajax({
        url: "{% url 'contests:delete_contest' %}",
        data: {'csrfmiddlewaretoken': csrf_token, 'contest': contest_id},
        method: "POST",
        success: function (data){
          $("#contest-"+contest_id).remove();
      }});
    }
  }

  function deleteProblem(problem_id, problem_name)
  {
    if (confirm("Are you sure you want to delete \""+ problem_name +"\" ?"))
    {
      $.ajax({
        url: "{% url 'contests:delete_problem' %}",
        data: {'csrfmiddlewaretoken': csrf_token, 'problem': problem_id},
        method: "POST",
        success: function (data){
          $("#problem-"+problem_id).remove();
      }});
    }
  }

  function deleteContestProblem(contest_id, problem_id, problem_name)
  {
    if (confirm("Are you sure you want to remove \"" + problem_name +"\" from this contest?"))
    {
      $.ajax({
        url: "{% url 'contests:delete_contest_problem' %}",
        data: {'csrfmiddlewaretoken': csrf_token, 'contest': contest_id, 'problem': problem_id},
        method: "POST",
        success: function (data){
          $("#contest-problem-"+problem_id).remove();
      }});
    }
  }
</script>

{% endblock %}
